:root {
  --color-dark: #2e2f42;
  --color-light: #ffffff;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-slate: #434455;
  --color-interactive-hover: #404bbf;
  --color-interactive-normal: #4d5ae5;
}
body {
  color: var(--color-slate);
  background-color: var(--color-light);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
}
.list-content-item {
  background-color: var(--color-light);
}
/* -------------------- cards content ---------- */
.list-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}
.item-description {
  color: var(--color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;

} /* /cards content ----------------- */

/* -------------HEADER------------- */
.page-header {
}
.page-nav {
}
.logo {
  color: var(--color-interactive-normal);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-logo {
  color: var(--color-dark);
}
.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-nav {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-item {
  color: var(--color-slate);
  font-style: normal;
}
.link-nav:hover, .link-nav:focus,
.contact-item:hover, .contact-item:focus,
.modal-button:hover, .modal-button:focus {
  color: var(--color-interactive-hover);
}
/* -------------END-HEADER------------- */

/* ------------- HERO ------------- */
.hero {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-button {
  width: 169px;
  height: 56px;
  background: var(--color-interactive-normal);
  color: var(--color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* ------------- END HERO ------------- */
.strengths {
  text-align: left;
}
.bordered-card {
  border: 1px solid var(--color-cornflower);
}
.team {
  background-color: var(--color-cloud);
  text-align: center;
}
.footer {
  background-color: var(--color-dark);
  color: var(--color-cloud);
}
.footer  .span-logo{
  color: var(--color-cloud);
}
/*Portfolio*/
.filter-item {
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  background-color: var(--color-cloud);
  color: var(--color-interactive-normal);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
  color: var(--color-light);
  background-color: var(--color-interactive-hover);
}
/*Portfolio END*/
